<div class="top-nav">

    {% if show_dashboard | default(true) %}

        <a
            href="{{ url_for('index') }}"
            class="nav-button"
        >
            Dashboard
        </a>

    {% endif %}


    {% if extra_nav_links %}

        {% for link in extra_nav_links %}

            <a
                href="{{ link.url }}"
                class="nav-button"
            >
                {{ link.label }}
            </a>

        {% endfor %}

    {% endif %}


    <div class="user-area">

        <div class="user-menu">

            <button
                type="button"
                class="user-menu-button"
                id="userMenuButton"
            >
                {{ current_user.username }}
                ▾
            </button>


            <div
                id="userDropdown"
                class="user-dropdown"
            >

                <a
                    href="{{ url_for('security.change_password') }}"
                >
                    Change Password
                </a>


                <a
                    href="{{ url_for('auth.logout') }}"
                >
                    Logout
                </a>

            </div>

        </div>

    </div>

</div>


<script>

(function () {

    const userMenuButton =
        document.getElementById(
            "userMenuButton"
        );

    const userDropdown =
        document.getElementById(
            "userDropdown"
        );


    if (
        !userMenuButton
        ||
        !userDropdown
    ) {
        return;
    }


    userMenuButton.addEventListener(
        "click",
        function(event) {

            event.preventDefault();

            event.stopPropagation();

            userDropdown.classList.toggle(
                "show"
            );

        }
    );


    document.addEventListener(
        "click",
        function(event) {

            if (
                !event.target.closest(
                    ".user-menu"
                )
            ) {

                userDropdown.classList.remove(
                    "show"
                );

            }

        }
    );


    document.addEventListener(
        "keydown",
        function(event) {

            if (
                event.key === "Escape"
            ) {

                userDropdown.classList.remove(
                    "show"
                );

            }

        }
    );

})();

</script>