{% extends "base.html" %}


{% block title %}

Change Password

{% endblock %}


{% block styles %}


.password-page {

    max-width: 500px;

    margin: 45px auto;

    padding: 0 20px;

}


.password-card {

    background: white;

    border:
        1px
        solid
        #e5e6e8;

    border-radius: 10px;

    padding: 30px;

}


.password-card h1 {

    margin-top: 0;

    margin-bottom: 24px;

    font-size: 26px;

}


.form-group {

    margin-bottom: 18px;

}


.form-group label {

    display: block;

    margin-bottom: 7px;

    font-size: 14px;

    font-weight: 600;

}


/* ========================= */
/* Password Input */
/* ========================= */

.password-row {

    display: flex;

    align-items: stretch;

    gap: 8px;

}


.password-row input {

    flex: 1;

    min-width: 0;

    padding:
        11px
        12px;

    border:
        1px
        solid
        #cfd3d8;

    border-radius: 6px;

    font-size: 15px;

}


.password-row input:focus {

    outline: none;

    border-color: #1f2329;

}


/* ========================= */
/* Show / Hide */
/* ========================= */

.show-password-button {

    width: 72px;

    flex-shrink: 0;

    padding:
        0
        10px;

    border:
        1px
        solid
        #cfd3d8;

    border-radius: 6px;

    background: #f5f6f8;

    color: #1f2329;

    font-size: 13px;

    font-weight: 600;

    cursor: pointer;

}


.show-password-button:hover {

    background: #e9eaec;

}


/* ========================= */
/* Messages */
/* ========================= */

.message {

    margin-bottom: 18px;

    padding:
        11px
        13px;

    border-radius: 6px;

    font-size: 14px;

}


.message-error {

    background: #fdeaea;

    color: #a12622;

}


.message-success {

    background: #e9f7ed;

    color: #247a3c;

}


/* ========================= */
/* Buttons */
/* ========================= */

.button-row {

    display: flex;

    gap: 10px;

    margin-top: 24px;

}


.primary-button,
.secondary-button {

    padding:
        10px
        16px;

    border-radius: 6px;

    font-size: 14px;

    text-decoration: none;

    cursor: pointer;

}


.primary-button {

    border: none;

    background: #1f2329;

    color: white;

}


.primary-button:hover {

    background: #34383e;

}


.secondary-button {

    border:
        1px
        solid
        #cfd3d8;

    background: white;

    color: #1f2329;

}


.secondary-button:hover {

    background: #f5f6f8;

}


{% endblock %}



{% block content %}


<div class="password-page">


    <div class="password-card">


        <h1>

            Change Password

        </h1>



        {% if error %}

            <div
                class="
                    message
                    message-error
                "
            >

                {{ error }}

            </div>

        {% endif %}



        {% if success %}

            <div
                class="
                    message
                    message-success
                "
            >

                {{ success }}

            </div>

        {% endif %}



        <form method="POST">


            <!-- ========================= -->
            <!-- Current Password -->
            <!-- ========================= -->

            <div class="form-group">


                <label for="currentPassword">

                    Current Password

                </label>


                <div class="password-row">


                    <input

                        id="currentPassword"

                        type="password"

                        name="current_password"

                        autocomplete="current-password"

                        required

                    >


                    <button

                        type="button"

                        class="show-password-button"

                        onclick="
                            togglePassword(
                                'currentPassword',
                                this
                            )
                        "

                    >

                        Show

                    </button>


                </div>


            </div>



            <!-- ========================= -->
            <!-- New Password -->
            <!-- ========================= -->

            <div class="form-group">


                <label for="newPassword">

                    New Password

                </label>


                <div class="password-row">


                    <input

                        id="newPassword"

                        type="password"

                        name="new_password"

                        autocomplete="new-password"

                        minlength="8"

                        required

                    >


                    <button

                        type="button"

                        class="show-password-button"

                        onclick="
                            togglePassword(
                                'newPassword',
                                this
                            )
                        "

                    >

                        Show

                    </button>


                </div>


            </div>



            <!-- ========================= -->
            <!-- Confirm New Password -->
            <!-- ========================= -->

            <div class="form-group">


                <label for="confirmPassword">

                    Confirm New Password

                </label>


                <div class="password-row">


                    <input

                        id="confirmPassword"

                        type="password"

                        name="confirm_password"

                        autocomplete="new-password"

                        minlength="8"

                        required

                    >


                    <button

                        type="button"

                        class="show-password-button"

                        onclick="
                            togglePassword(
                                'confirmPassword',
                                this
                            )
                        "

                    >

                        Show

                    </button>


                </div>


            </div>



            <!-- ========================= -->
            <!-- Actions -->
            <!-- ========================= -->

            <div class="button-row">


                <button

                    type="submit"

                    class="primary-button"

                >

                    Change Password

                </button>


                <a

                    href="{{ url_for('index') }}"

                    class="secondary-button"

                >

                    Cancel

                </a>


            </div>


        </form>


    </div>


</div>



<script>


function togglePassword(
    inputId,
    button
) {


    const input =

        document.getElementById(
            inputId
        );


    if (
        input.type
        ===
        "password"
    ) {


        input.type =
            "text";


        button.textContent =
            "Hide";


    }
    else {


        input.type =
            "password";


        button.textContent =
            "Show";


    }


    input.focus();


}


</script>


{% endblock %}

{% block scripts %}

<script>

    const userMenuButton =
        document.getElementById(
            "userMenuButton"
        );

    const userDropdown =
        document.getElementById(
            "userDropdown"
        );


    if (
        userMenuButton
        &&
        userDropdown
    ) {

        userMenuButton.addEventListener(
            "click",
            function(event) {

                event.stopPropagation();

                userDropdown.classList.toggle(
                    "show"
                );

            }
        );


        document.addEventListener(
            "click",
            function(event) {

                if (
                    !event.target.closest(
                        ".user-menu"
                    )
                ) {

                    userDropdown.classList.remove(
                        "show"
                    );

                }

            }
        );

    }

</script>

{% endblock %}